
body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: auto;
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISEhUTExIWFRUXGBoXGBcYGBgYFxgXFxcXFxcXGxoYHSggGBolGxoaITEhJSkrLi4uGiAzODMtNygtLisBCgoKDg0OFQ8PFysdFR0rLS0tLS0tLS0tLS0tLS0tLS0tLSstKy0rLS0rLS0yKy0rKy0tLS03LS0tLSstLSstK//AABEIALUBFwMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAABAgADBAUGB//EADgQAAECAwUGBQQCAQQDAQAAAAEAEQIhMQNBUWHwBBJxgZGhBSKxwdEGE+HxMlIUFRZCYiNykgf/xAAYAQEBAQEBAAAAAAAAAAAAAAAAAQIDBP/EAB4RAQEBAAICAwEAAAAAAAAAAAARAQISAyETMUFR/9oADAMBAAIRAxEAPwD1kNm92N2tBWQWYDyrMkl3NL+SggGWp81bANe69DmQWI3t5pswOWWHur4YFIQrIQiIIb75jr+vRWQwqQBWD9fjGiCAIfbm7TMuT9k4CsZRSGHAt0peEfttRhyTsmZEVQ2MIJIEz1xTgJwEQEUkMM7n18J2RRLcVAIUTEHAeZunTHJSFWAIFAUIwTCHqiQgqAIAeeJkOacQp2UZAm6hFA95HD04K0BRkFbIsnZRkUjIMrGUZBXuoEKxkCEFbIMrWQZEVNnyQIVu6lIVFTJSFcyUsKlkFTceaKfcCio426rANcUd3503FWQwoFhh12TiGhTCHWSsAdSgQwp/tjWPBNu9/dM2vX0UoAhTAJt1GEa6MlEhCYBQBNCOeiosABSBFkRNBGUMPwmZQhAAMk4CACcBAoGvVEhOAoQlCAIh8k4RZKEZRkwCDOlAZRk7KJVIyBCsZBkqEZBlYyDJQjIFWMgQlVWyDJyEpVCMljl88FYUkUINyIQWQB4z5qJ91RCOTDD+rla2u4QhGus04h5awyZlKIEwHpdX9owibam8k4H4u/bJQdeifXRBkwOvQ+iAwjWd6MPeuuqHJv1cUYTrpiopvn3TEe3qhCmfWIH67oBFJHOSJ1rBQcPRAWRAnrNBNr31wQSGFGEqa0EeWnQEBEJcuKYcEBQIUUCgiJQRKohUURQBRRlAEEQRUQKgUzIMgQpWVhCUhKEZAhOyBCUKyCO6yiVY5kMNK3niwp6KyGHt3x90IB6UOs00NJ8+hnPhepUhgMemV1b6d1H0dfNMk0Na4DtnmjCa96ylD7FKsHd/f6p+FB096F/ZQQ5THMsGJAxnemhFMa9xjSqUggJhr1+Uo6vOV2D6xReTdOM8FKQYfb9XzqyfXDPvVK9W414j2TN7m7OfqeaUgjXYIhB8B7T0yZKRIRqk6/KiIPTRRAz0+SUgt7qNkgNfCPGmHV0VGR1rqgiA/VBCJ4j3TOhUfiSgF6CEUZQooAXd0QTxRQCjY3TRTKKKIAyiKBSgKKKJQqBTFKlCoJkkL3qUFRLDE9zaqolWMXrPHX6Ue7L0lW6vdGBrqFmZphrmU3ukjyca6LNIY1IyfrL2TE9uxEqPR0oFJdel1OiaCG65ugu6TSkSE8BWuNbuSPxSV9xB1JAGTsTKga5yA1Hu6Ik4P2pVsh8K0gnT82JyRBrqms6oXDPA338Rx9UwfHg/ZSkMDx10IKJFOL9QRm2KSGmV4unlqqYDC/DO/wBT1SkE4G/CXTXsm3tcw09fKxDTnnrJGH8cGklIYGnbXTmiIdSSwUQOn6JSLAaXc9YqPlrXqk3ssOM+dyaLXZKsQRTuZqde35TDGtbkgi1XFA8BwN+T9lKRZnrVUQqhCCQZyMrrq5802viSUhxrgo2ubpIIxi+daSNKoiKadiHBRdViJsfU81I4sG7pSLCUVXvupvpTqdhVQlJCZKna9q+3CYt2OLKCExxdAp2WNDqErm+FbPa2cMX3beK2eJ4TFBDBFCD/AMfJIgcHW2I5/lKdVhKQlKY1z/EvEobIPEWU7LnF0XSxRAVKzbLtQjhEQTm1GPD1TsdQtLaMRgfbJhI/kIhI4EFlFlNpZ2T7sE4jvRbu4DFEakmIjeOaidl6rIA34l2y91IbST4zpiM51crMYgMGzLmc+c7k33ORx70Cz2Xq1E1dqTek9HoiQ+GM8aiqzi07d8lVbW4hF0u0iL1Oy5wrcYn4fv2U3sK6PVprlbL4iIzIhsGL1cF343c1tiiBAvbG5hVM51d8e59tEMWeqclCWmSw53XmfHsqjbBnfVVI7SRZnpOivZOrRvEG/pl3R3gfWXrLU1nNsDrD3TC1U7HReSoIvbpr3Wc2gEia98vVH7oYe34Vp1aCVT9yrVL8ZN1u7JDa61kqLTaGWd5NZwbYbTPXumhiw0VzrPaAb5K/74bumcl3g176n3AMf1JY4rcY697kDtQxHqr2To2R2tJEvKUwK17BHffGWbEGRaS4f+oQb/8AKY55TLSv6rZHtsIDu+FL6C4JTo6GV2DIRGknnS8Z3M3yuPB4vBFEzjr6hmZXDboMcJ40PMJ2Pj104o569Gn1VUVuACRESH4twAn+1gttuADv00Brrxtq+p7Ix/ZG8YgN5907rNXeMu+VZKbu/i5xy+3d2LxSGMPC7EOHhiETf+phd8mWyC2YByHvYETMzIktzXh7HxR7XeMRifGZMryQH+GddoeP2QrEHwcFZ49v1vlx4+o9AbUa6KG1/cl4/a/qixgIJi/i5ABio27MBhXERDmZc7bPr6yh9pi6Wiumcdcrxe7t4gQ5hBIIIpKdQ9Ch/kACvd/VfLNr/wD0OIgmGE7tHYs5eT0eR6Fce1+t7SOIh3ANxZw9xIlzHJXOO/rO8uOPsdv4nBCP5BeX+otvgt4d2EvwuYfK+UeJfU1s5BiPVcv/AHBaE/ziFZitMHDjmt9OLHyb+PsmwfUcFhZiAxOwHQqjaPrcF92bOWebAEktgA5K+PWvipJJDgO4Du3O9Gyt4rTdcACYDAByDMlh5jSZnRa68f4nya9z4l9bGIyilkyC8Rt+2GzL7kMZiYf+TzgQwgACEkuC74XBRPX8S7/X3aLb4YQ9Gq5JeWFGykjs/iW/niA5bB2IIVNpYw3kzkzFuJIpg5LLVYWIHFvV6d15uvL9eztxnpbY25w9PTmmt7RxOIDM5n1mkjtAq/utcOpDvg1610qd8xXDZxQxSgO7/ZgATh/KUXW9bRaxMs2/KQb54OhbRCKEwmIwjGH+Q4K5wTfJfsNo8QigxGYrydUWfi7lqdRrkh4hG0Bnk9/PNeItvEYfuwzIh3mkCZgEwkFiYphiAzbwM5q8uFz0zx8k2691b7YRU8r8bwQOOLIQ+LxAPpqleBsvHrSIM9wYFt6Jw3lLsS+DXXEhV2PikcX9gGLNCbiwupfmHneufHhyzI6b5eFr3dr9QETuvnrJb9j8ZhiAnXuV8m2jxSPfDRGETNDKL+oaUTEZdSW2bJt1pvDe3pyG6XhIoD5p/wApU/4ms0zx8p9pvm4X6fVotvDVXJ2zxcTD58seC8Ra+J2whIB8whNIpPWYiF06Xc1i2jaLSKGULA3mv/GTkEAzwEiOIzni5/utb5+GfWPb2P1ABJ+vr2M6SOCNv47EZA+/pevEwmJ952DRCrhyAHEnJYhpCUyMLI/uRDzAzG7IzEptFusfMWaTtcy38Llvner/ANw7onEGpNmeci9JTWc+NRxRAAyLX0ceWWd85PlPzVlaEneZxQAFoYmBO69N03TJebTV1pbRuCYL3LOwq8MLzAd2fAOzstZ4czam+fZHp7HZ4y8W/dCGJLnzT8pOXYcnt9qO6Id8CYDxEiGF6bzTwXlj4taGzijDxQwEPC0z/IsHId2pMkEXNvUnb7SPy+WQYEHeE289C7u53Z/xYG70ZnGe3DefKursniE4vMZTcxUec/LiIiS92Inp2vxfdY74ecpiYefmljMEitwZebNjFM7sUogG87MTdDEAQfLD5SLw7ujALSOCQMPkhbdicl2YSfeO+aSbcaoIGOuNfJy/rsxfUERg81WfecRAMQ8mJ3i4EqObnbHB43bRWcVmIybPeLwuTC/mY1cB540lRYBFFukA+WIAwgwiJhvROHiqRMtg1JK+OyMMJjPlihYEM0WEJDnek0IYjnNk6s7y3SeJ7VGwAhMJvG+7sP5AinDzXzXMtDaxCJ4i7GKRBb/kxo35MqLdtG0CIM4ADDN3amEi0M6EuhGQIW3f+snJMxiWqQGAkWWozuha2MTbk2kSC5EMRhaKK+6l8gVzYvCt7eLbrxOA/lhBctSd1GoZF5dbZtrhhmwD+apIp/X/AOgXJlwnsthEAIYoDOYHFmpEXM6CHGt1mJ7edj2YkwwkAgAtVgTImEvQsDx6KnZtga1nIc+V167MG0WcURicu7zmSYt4jiT8qnatsghZogXAJpXlQqK5Pjew+ZxgubDsRmMesqL0se3Q2hF5MlTBtdm7Swmw9VRwzsTud0DIZSpc9Vu8MgAHmeQaEASd73MuWS32O12bF93koNpgLAGEOZkyYXl09CjxSCHehMcJjhAlA4FeILBy9FFvO2WUULFlEg9v/q8ncdeBmxcXHGiWHxmKs6Y3O14C58NlcGDhs6mQcMGpqTblHuOLjOp5e6nXGu2t/wDqkU5RcJ3Cd1QOyln4q9xnO4v11NY4bMC8cCWrRi6eDy3nrlW7ukxe2tI8TerieBDFnFDXK5L/AJ70gO8ZEgu4/qzMG98wqd0Gb1d+eeerlYLMG9XMxneWktdriiBDMHvungcrq91gg8PD7zsXJLMzmbtU06SXV+3Uzd8TNzNyavXmhCAZ46NVZiXXGsvAoHdhvYuX6l+C02fg8LN5QHwYPIOwYPIdAuvZiHBPDEA2pJMPblQ+CQnAcOvSQWuDwiC/Ux7AaZbYbQYeqeGN09Kzx+GQEuZzec5u7zvzVMXhEAuuaVWwkt8dogLRIMlj4bAGl0kA+TMOTUWgeGQG5+b4Yp4bTH2VsFpqnygMGwWYq06vfi+PNS08NsmowYvgMalMLQ3FNvlQYLXwaAghg0VZYUvD8z8p7HwWzvEsCTR8LlrhjBOfebK2CJ5D1+FazGeLw2ziNBRs+1zIf6XZ4fOSvijp7/Crjtg09dFcNZovCbOK7VyqtvCYG3ZtXJ+GOsFr+8LtMk3tOkSuWfp6yJZmOLXMzGWEqqiL6ZgubgzhsK6crt/cQgiYd+6sTXCi+n3YEuQABEagO7D+o4J9q8IMZeIQyAhFTugYEnB64rsxWwCH3JJC68ZtH0xES73u9/XCQ6BYbf6WJoZSrLlVe8EU2ln+MUtpZakp1wuvAH6ZiqJaZZ4vpuIM7t09j6L6GbMMqYrMXKRc186j8DicsGDyFeTpR4VaQlwSKiVZhivoEWzhZbTZwX/BTqdnzq32C0GKi91tWyQgAkAABjWeainVa6ALawaoPL3QtYSR/IAggsXeIOHAbkXMs3ZUx2poMsc8q17qRks2NwnNsvYlGl4tSHY8nPtkKKGMuw40aT3PMit13IUCNhQ5TI1z+ChBGXevCUiKs4lnS5EXR27EAvO/OZrjLBXwWmZzfu2WZnwWez2+KGEwwxSNxDjABooSxbBuKrgM5VurKcjXlfW8qjo70ilBiiPlYn/tEw5ky/Kxu4Tb0/ieDoN0MYZPDG9/XHWr1zRE5/D4twV8Nu0td0VtNomgjXOFqBlz7106J2jpjy1oIOjvoGPV3yufDtGq3K77igv+5PjxVkFpgfT9rHvjVE/3XFTrNVG6C2J0OCcWq533m9+SeK0+Do0PFBuFtn3Vn3SudZ2/DuT1NBrNX/da747qo1xWhI/ILKiIk8FltbUxeXfigwIAJlQMSBgtVjMJYfZDDL9IbzfjVFa8sFntBxyo2ef7VqQ/3NUSCN1VHCyMEQCUi6GFGJqLPFtCEMWemUpGgRzON+KW0t81mFoXqq47U0Hrp0pq2O0cX9fhVHaJ05YdZqmPaMSqrS0WmWq2jcSLGWujqkRTSw2kpllVEWqXJUqrwHhE+aiyR7SyKFKbR2qcHIJHBhwwe7JzGDTrIsJDHWTuOdYxl54uzSwMnbsrt6GH+MJAwJegBYHdAYDITM3XN0Xwxzo4cMSPVyxu8pce8htKSxv3suDzu5rGNpe+d2DHPVVIY2Iq3rjI3OKqjYYyziL15AMCCKpLKKju2FcL2p8KuG0nMOeU8auD3CME+NeUqvS7VA173Xjx6pRHOf5eR9DmqLS3kNGYJbOY06Szs3+cq3PX5QdARalwRETy1Xv+VkMTDLijBaO0x+uvVBoEYfN63ue6YQknhTAV6Y0WWK2NAZHpVH/Kl7tL9INIF5Jermc8ajKfBL9+cvevt3WCLbjQsM6319eis2XanAftKt0hJB0IbR8jzE9auUIJphjqVdSWez2oG+SYbQP7dn7FBrgieVdYUuQBZmfLtS4FYxtzhhPXPqh/kPd8+mvRia2Q7S5IaYZ7p3prTbwAX1Lqs4tCwE5SAuDzQgqCCxBlkqjRZbc5YQ7xmwaZpjN51W778n12XHsrXdik73HByX6ueq02lsW/aaLrW3Nfc6ZWWdsNBiuXHFSe91E+x4q+xjw719EGmO0D17luiXea8ZYhYrbaCDVhfromtbR70oufVR0NUYommT0VMJZE2odN1IstLUNJV2dq6qt7QPUdtBUm3a9DT2jgvmpZjFWQW0nZUxWxMmbUkpC2lrNQ2g5lY7QETVUUYJD3PfiEVrcGiirsjoN7ILSCBJ2LACbNeZO1SJ1xKTciejNdPJg2qzxV8OwsN492v16pYd0ez0lfK9YmtVRBI4MTOpua6YlKTT6SCO6ZEsBOlxnMjpkWtigGuhA+U8EAViVWC/q0hgaUZWWkV7y5yxpxA5JDZdxr0VRsnmS+uGKddWhaWpx97vxq5rK3pM8f3y6qm2sqEVGhlorN9yIOC85YXvzoFIV1YrWr1ynyKpFsBeNT9FjgtxMX/Anw44YKW1uBhcCKe2Sit0Vvrq1EI7Ukiczia++GqYI9sALH841uTwgRF/QS931MKougtp3VbkJUIw9FZNqktd7+gVdnAGqXelzcX7K2K1ZtaqlEs7TKc/Zr2qmDnAF5T7+ndZSS+KUxWgdiQ+BIuoWNGPqg6mzgDM009yX7sOOuPzgsFi8FS3CakTHGt34RHRFoLtZ5UVsNof2ubZmJgLp8ZnVVdFFEzNNFbwwn+Uf8oUZ1zbG1/sOePDurhHndr1QWxbYDdXH1Tg4a5KskNjSuUkI7ZgNMlAtISTgjDZtN9e9VTabRy46wT2dsDeiL47cHFVx7QKMs9pbwjXdUi3BQajZGLVM8lVHAxZ1I48u4Kp+3FiVcRu+4wl1ZVfe0yFnbiETz4qffh1eoqu2tpLAQXMnnitUe0w4J7Mg0VorsIpTE8cUVZNRSjZ4ztBAlKT1zC4dhbX4/gqKK79jYLbXZW7zaxUUVQ4OtcFIj7nuVFFcCmKT6vQ/x9+KEO28Rc6ii0MZ2cQxG8uR33fQrLbwAy4dSHdRRc1ahYAjezZhJ5EvLidBH+LMooopdojIhM6BxzIDd1ls7WIgRPUkN0miomGrjblSDaoqqKJpiy2ti/PnqS0WEN6iigvgiIos9ptBMtXoqJgphDMXqD23Ser9ltsi45OooqGjjk+sVmitSdYqKKCQxPz/fNXGATP7m5rioooM9tZAlCGFomw+VFFrE1phAanRhOVZTWf7pF7vwl2UUTBRtEZnkqNktXAUUQ1dDACVISQ7KKIfq7/JLKKKLMV//2Q==");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #def0ff;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
.topnav{
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhISEhIVFRUVFRUVFRUVDw8PFRUVFRUWFhUVFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGhAQFy0lIB8vLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIALcBEwMBIgACEQEDEQH/xAAaAAACAwEBAAAAAAAAAAAAAAACAwABBAUG/8QAMBAAAgICAgIABAUDBAMAAAAAAAECAxEhBDESQQVRYXEiMoGRsRMjoQZy4fBCwdH/xAAaAQADAQEBAQAAAAAAAAAAAAABAgMABAYF/8QAJBEAAgICAwACAgMBAAAAAAAAAAECEQMhEjFBEyJRYTJCcQT/2gAMAwEAAhEDEQA/AMMZbG2SEYDgj0yZ4yUFpnR+Dwy5P6HSvjo5Xw27wlvp6f8A9O1ZjGexfSGVbOZesYRjtjs22raM7jmTGNCVGW6JKxvMjsXUjdMsncLHeIvBshDKFWw2aSJY8ngiQg0TQjAp1Q6GUdrJvjJHPihqk9mEnDkxzv8ASAseci4LY1oyFcUmZ4o7fwHlpZg/e1/7OPgOIrVjy2eguj5T2DbpMDh3+e/fsHnS1gxypO9nG5LzIVZ2hzj7Et5bGXR0rb/wutaNNC7EUxNlMdMC7FyvTM9fZu4tmYWRf0aMtUBkZpPAASdp0Yv/AC/UZZLLLsr22LXZmPFpqw/LGyX2+WH19AbGVBCh12VOWFoDz6XyRdr39hWdfcKDVoVLsKmOWiYNvw2jykhSrdI6FdeEkUaZVlC2cx5uKHUwFpHQ4dWjoQckqQjGDVx7msRFXR3gS28rBhK5I6LWxVMNtjKbsr6lQmorfsY59q0ZOb2KqQ3mdl0R2Z9l4usZrqWEVbUE9YNEY5TGZyJtOzkWoRg2ciJkJn0sbtBRQSJEtGMRdmhw0Z0dDxyv0MkSyyqjDBZLYcY4yCCh+Vs6XwP8zX0HfEImX4S/7i+zNvPBWznyOpHF5HWDNCI+Usv7ZKjH/OEEvF8VQ/j1ayOq9/sM8cRSJCvr6Bo55Tu7FxWMmLly2dK+K3vByrXmX0FaK4HbsZKzWPeEVBFf0w7NaAyipKkLbGpYWRcFsZe9YAZ/gzS6bFtD7Y6QkzHg7VgnZ+EYjGUmjjxR1k8VJCtGyS6Qb5ZDA2QBPiZkujr0rCMHEryzqY0dCI5pW0jHyn7MkPmFyLcvC6JWgFIxqIWcAzm29hMpRMHXYc1lodVWSuOTVXHaH9OeUmo0BdHoKix6CtWf8iqP4MxI7iDy4bOc0bp2/My3xw2Kzqw2tMGKCKigpAK+lqI/jWehMS4PYSclapj71oS+wpPYtMF2CMWkbvhC/uL7M2/E9Jsy/Ao5sf8Atf8AKGf6hnhJAvZOceU0jkR6Y3jbl9jPX0vuauCvxGRbIqTNkujNbyWspfuXyOR8kY2wtksWO9yAm89kpWyMZx4ZEOmTpGmuOjPY9mu14RkwFkIfkOmINm2OjHAE/wAwKNy3Yvk+kZ8D+R2LZn2Ux6iioRN9/wCVIyUraNPL9ABL+SMjZZRBShv4VWB3Ll4wb/RfqNqhg5/xS7L8V0u/uWZxwXKVmCPZq8dCKY5ZqtWjF5y2kKLq2ypD+HXkK7Em6jZsop0OVeB9McaKulFdtL7sPpyNtqjMoiHpP/vsdKS7Qq7ayFhx6ezDNk5Xz+xEtl8hdCnatSQFYy2BOPHY29fwZLRpT+6SM8ERPYUEBHsBRbsa+gJdstMFMxqOt/p5f3H/ALX/ACgvj1OfxfoI+C2Ytj9cr9/+cHU+Mw/A2J/YhJ1M82lpDuOsZYt9IYnrA40toTexfouxkAVWkC0bOJAy4NfFRkTyv6lchlVxDsr2V0aiLa46Lhti5RzIbT7ZK47MC6ZmvWxTRo5EdigMtB6L46/Eh3OexVMcs0/EK8RT/QUNqznv7kFtEFLUd663xg5ft9zhyeTb8St6j8v5ZgyVIYo1E08OO8jryuGtBWIbwnJ3MRYujo8CsxWLo10S6ChMjtI6N9ihFyfrr6v0cFybbb22zR8Qty1H0v5ZngKVxx4xv8myl6wLi2BHZojDQy2SaUbZkj+YPkr0Au8jeQjLopL+aK48Q71/AVESWLswjdyM6WxKNEtNCUCR04+rLiLXY3AONgKJmjivDR6DmS86n9tnn6vR2qXmLX0M1ZxZpVJM4kK+gvHv7DYLBUlpsagykc99stIp9hREOpkaNPDQmZs4cdZDWznnL6B2xEX9Gq6SSyYLp5f+QkYIZxFiLY6tYWQKfyoZLoUaW7M3JWxGDVyF0ZmB9lMb+ofHWzRzHmv7MTR2Mu/I/uAzezmtELIA6QuRPMm/qJZUnkZGI4EuKN3GWg4rYMZpJINTQxxu7f7F2odWyoRDnhIYm34c+6WW/uy4AMOIh3vo08dGqzox8ae0bL+h0ceRPkkzDCOxt/oKqOwZ7YPB3K5/4P46Ks9joREuSbf0GRG23ZltQuKH39AJaFa2deOX1L8dAqA6L1gpx1kLQFN+lVo6Nc8YMETdVLK0ZEMwM4ibVhGzGjJyeg0SjK2kc2XZaLa2Qmd7YeM4NXn4mepb/QuTCc73oVybG3skFloGXZqrh7APJ0kNgugrA/HQuxmaIp2BNaM04mr0KnHQGPjYNKGZTg17KqWhClif06NQe2zK4kCmtsgh02IgjVVAXRWbIxKJEcuTwCXYEXsekZbQsXH9tG1XJb7/AFRluucvsJLA2UhiUS0WmCHWYoOp7N8tox8aOZG5jROPM9ilHAuK2aGtAQhgZiRfdkvnjCRng8MO2WWxQvpaEfrQVrJ46Ks9BRlnQy7A9RVFQDelgW9MvJroZq3ZY6q7xElWgA0npmujk5eP2FcpmVMfa8xybsRwUZJozeykETApexmQWXHophZJaF1r8Rvit/YxV/mGTv7S/cBsibeh0L8uS/YKSOfN4KhyJRBY3xN9HQkyksi/6mehlckZk1oVLX7GFy/EdLkx/Czl4FL46oOUiAsgKHs1VLQ9Izf10iny99f5K2jk+OUvDVKOEYJ7NEuQpR1r6CMAeyuJON2AiFSeNhRYp0/spjorQsfWMJOWhlM8bNVdqltGO2WhCDdEXi5qzsRI1owUWv5m6ttrYUznnBxM00SK9l2vYLesGRXbQNnZdZTRSYV2Fr60i7OyEa+YUjUa6SRUSX9F1oHlPQPDJ/dIztmmKyjKjRDODRHy9KhbCxopoao6MkJKVUBFaIHCILQKFvbFL2JQ5+xSiBloelWvoU2Fa9i2IXitIONr6TLi9iUMT2Y0kkdOM8w/wc/BrolhPJlkgkI+gYIH4kAPYtMBstIFhHiHW9jjMh0JZCCUfSSRcYkDwGhXIpDoiUhiQRZAWTKRTIKVVUbOJDJquvUddv8AgyUibJZeRujm4c5OzT28hOINA8ZEpyaYixYJNaJcxWWa6KRi2kwkMzkpRCCkLKSsvOEZ75Fcqz0L88pCt+FMeN6kXE0wjozIbGXQY6BlTYS7CUisF4Goi3ZPJLtiLLvkIuuy/p6A8ibkdMMHrNYLF0Wem/sByLfSA3o0cb5UKnPsWyFEztSoKJfkCmC2MJVsfXycafQxTT9owtkFsLxI3uRDB5P5v9yjWL8P7NjAaGMWhhYrREgkTAWDBCiwsgRQcYhsRxCihkuiQRVz0MRu5UJDggEw4gLPob5CQpvQGTMEImuia+Y6Zz0HXZgKZKeHdofIiRPNP/uCKS+Y1CW6GEbQPmvmIutzpDN0TjjcmKl7KggkEklslR2uVKi4oZ5JGZ2AObGuifxOXZqlyIoTfyMrC0IlIXJgcikP+eKdhZImDkIQu9BNimypzyDkAVGgwWwWysgGUS2wXIjYDMMohRLbAyTIA0FkgGSGCBR0JsBSCyRRCTitB+gUxnj6F4DZuIxIZBCkaqUFMnkjSLihN79GiyWEZWn2M2RhDdgpBImCmzDFSkUigkAfotsiAkyjWNx0H5E8haZMmsPANyK8gESTMbj4W5EdjemxeQWwWOoIPz+RHMT5FO0Fj/H+hrZQvyI2EHEZ5AOQLZXkYKiW2W2LcgHMAeDY1g5Ff1C/IA/BrsNsFsFsrJjKIeSNgeRTZjcQ8lAZIA3E6j6CqIQxFjWX4lEMHwPwNENIhBibAmvQHgWQWyqiqFWRwJyQg5KlRaRGiECBPYJCEAOyNA5IQLDHZHIEhDBSKYuTIQDKR7FSYDZCCs6EXGQfkQgULKKKcgXIhDMCigHMFshBbKKKQJPIhABojkTyKIazcUTyBciiGs3FE8yEICzcUf//Z");
}
/* Import Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  background: #E3F2FD;
}
h1 {
  background: Z#708cff;
  font-size: 1.75rem;
  text-align: center;
  padding: 18px 0;
  color: #fff;
}
.container {
  display: flex;
  gap: 35px;
  padding: 30px;
}
.weather-input {
  width: 550px;
}
.weather-input input {
  height: 46px;
  width: 100%;
  outline: none;
  font-size: 1.07rem;
  padding: 0 17px;
  margin: 10px 0 20px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.weather-input input:focus {
  padding: 0 16px;
  border: 2px solid #a7b8ff;
}
.weather-input .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #BBBBBB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-input .separator::before{
  content: "or";
  color: #6C757D;
  font-size: 1.18rem;
  padding: 0 15px;
  margin-top: -4px;
  background: #E3F2FD;
}
.weather-input button {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  background: #5372F0;
  transition: 0.2s ease;
}
.weather-input .search-btn:hover {
  background: lightblue;
}
.weather-input .location-btn {
  background: #6C757D;
}
.weather-input .location-btn:hover {
  background: #5c636a;
}
.weather-data {
  width: 100%;
}
.weather-data .current-weather {
  color: #fff;
  background: lightblue;
  border-radius: 5px;
  padding: 20px 70px 20px 20px;
  display: flex;
  justify-content: space-between;
}
.current-weather h2 {
  font-weight: 700;
  font-size: 1.7rem;
}
.weather-data h6 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}
.current-weather .icon {
  text-align: center;
}
.current-weather .icon img {
  max-width: 120px;
  margin-top: -15px;
}
.current-weather .icon h6 {
  margin-top: -10px;
  text-transform: capitalize;
}
.days-forecast h2 {
  margin: 20px 0;
  font-size: 1.5rem;
}
.days-forecast .weather-cards {
  display: flex;
  gap: 20px;
}
.weather-cards .card {
  color: #fff;
  padding: 18px 16px;
  list-style: none;
  width: calc(100% / 5);
  background: #ffffff;
  border-radius: 5px;
}
.weather-cards .card h3 {
  font-size: 1.3rem;
  font-weight: 600;
}
.weather-cards .card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
}

@media (max-width: 1400px) {
  .weather-data .current-weather {
    padding: 20px;
  }
  .weather-cards {
    flex-wrap: wrap;
  }
  .weather-cards .card {
    width: calc(100% / 4 - 15px);
  }
}
@media (max-width: 1200px) {
  .weather-cards .card {
    width: calc(100% / 3 - 15px);
  }
}
@media (max-width: 950px) {
  .weather-input {
    width: 450px;
  }
  .weather-cards .card {
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 750px) {
  h1 {
    font-size: 1.45rem;
    padding: 16px 0;
  }
  .container {
    flex-wrap: wrap;
    padding: 15px;
  }
  .weather-input {
    width: 100%;
  }
  .weather-data h2 {
    font-size: 1.35rem;
  }
}
body {
  max-width: 900px;
  margin: 0 auto;
  background-color: #eae6e2;
  color: #444e54;
}

main {
  margin-top: 30px;
}

hr {
  max-width: 800px;
  margin: 48px;
  border: 1px solid #686d80;
}

.search-form {
  margin: 20px 25px;
  padding: 5px 10px;
  width: 300px;
  border-radius: 5px;
  border: 2px solid #332b1d;
  font-family: "Oxygen Mono", monospace;
  font-size: 12px;
}

button {
  display: inline-block;
  border: 2px solid #332b1d;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Oxygen Mono", monospace;
  font-size: 12px;
  background-color: #ffffff;
}
button:hover {
  background-color: #ffffff;
}

.measurements {
  position: relative;
  left: 25px;
  top: -10px;
}

.current-weather {
  margin-top: 50px;
}

.city-title {
  max-width: 300px;
  font-size: 32px;
  font-weight: bold;
}

.temp-title {
  /* color: #37718e; */
  font-size: 140px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.todays-info {
  margin: 15px 0;
}

.side-info {
  position: relative;
  left: 72px;
}

p,
ul {
  font-family: "Oxygen Mono", monospace;
  font-size: 15px;
}

li {
  list-style: none;
}

.week-forecast {
  text-align: center;
  font-family: "Inter", sans-serif;
}

.weather {
  margin-top: 2px;
  margin-bottom: 6px;
  font-size: 14px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 22px;
  margin-bottom: -18px;
}

span {
  font-size: 20px;
}

footer {
  position: relative;
  bottom: -100px;
  text-align: center;
}

a {

  color: #fcfeff;
}

a:hover {
  color: #ffffff;
}
.topnav{
  transform: rotateX(0deg);
  text-shadow: 2px 2px blue;
}
